.main {
  height: 50vh;
}
:root {
  --blue-color-a: #3a7ff7 ;
  --blue-color-b: #13dbfc ;
  --purple-color : #8932df ;
  --white-color : #ffffff;
  --green-color :#1dcbb6 ;
  --blue-color-c : #111c63 ; 
}
.hover-effect1 {
  min-height: 20px;
  text-align: center;
}
.hover-effect1 ul {
  padding-top: 1px;
}
.hover-effect1 ul li {
  display: inline-block;
}
.hover-effect1 ul li a {
  font-size: 30px;
  text-align: center;
  color: #fff;
  margin: 0px 10px;
  line-height: 50px;
  display: inline-block;
  width: 50px;
  height: 50px;
  background: #aaa;
  border-radius: 20px;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -ms-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
/* icon background color */
.hover-effect1 ul li:nth-child(1):hover a {
  box-shadow: 1px solid #aaa;
  border-radius: 50%;
  background: #3c5a98;
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}
.hover-effect1 ul li:nth-child(2):hover a {
  box-shadow: 1px solid #aaa;
  border-radius: 50%;
  background: #1da1f2;
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}
.hover-effect1 ul li:nth-child(3):hover a {
  box-shadow: 1px solid #aaa;
  border-radius: 50%;
  background: #d6249f;
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}
.hover-effect1 ul li:nth-child(4):hover a {
  box-shadow: 1px solid #aaa;
  border-radius: 50%;
  background: #ec352d;
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}
.hover-effect1 ul li:nth-child(5):hover a {
  box-shadow: 1px solid #aaa;
  border-radius: 50%;
  background: #181616;
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}
.hover-effect1 ul li a i {
  margin-top: 10px;
}
#Footer{
  /* background-image: linear-gradient(to bottom left, rgba(76, 14, 100, 0.7), rgba(24, 14, 114, 0.7), rgba(116, 12, 93, 0.7));
   */
   background-color:rgba(36,42,97,0.9);
}
